.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0% 25%;
  height: auto;
  margin-top: 5%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

mat-label {
  font-size: 20px;
  color: white;
  font-style: bolder;
}

input {
  padding: 10px;
  background-color: transparent;
  color: gold;
}

/* mat-form-field {
  
    padding: 8px;
    width: 15%;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
  } */

#CompanyName {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: gold;
}

#LoginHead {
  color: accent;
  font-family: monospace;
}

#next {
  margin-bottom: 6%;
  margin-right: 10%;
  align-self: flex-end;
  padding: 5px 30px;
}

#signUp {
  /* margin-bottom: 10%; */
  margin-left: 10%;
  display: inline;
  padding: 5px 30px;
}

h1 {
  color: white;
}
