body {
  margin: 0;
  padding: 0;
   height: 100vh;
}

.sidenav {
  height: 100vh;
  width: 300px;
}

.container {
  height: 100vh;
}

.moreMenu {
  margin: 0 auto;
  margin-right: 20px;
}

h4 {
  margin-left: 15px;
  text-transform: capitalize;
}

mat-tab-group {
  margin: 0 auto;
}

mat-grid-tile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../../../../assets/TECH_GENESIS.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#messageReceived {
  background-color: aliceblue;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  margin: 0 auto;
}

/* .containerChat {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0.2, 0.3, 0.5, 0.5)), url('../../../assets/TECH_GENESIS3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
} */
.messageContainer {
  background-color: gold;
  padding: 25px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.output {
  padding: 19px;
  background-color: khaki;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: black;
}

.replyMe {
  width: 50%;
}

p {
  font-size: 20px;
}

/* form {
 
} */
#typeMessage {
  height: auto;
  width: 100%;
  /* margin-left:  2rem; */
  bottom: 0px;
  position: absolute;
}
.messageIconSend {
  right: 5%;
  bottom: 10px;
  position: absolute;
}
.messageIconAdd {
  left: 5%;
  bottom: 10px;
  position: absolute;
  z-index: 1;
}
mat-icon:hover {
  cursor: pointer;
}

body,
html {
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}


.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 95vh;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.msg_card_body::-webkit-scrollbar {
    width: 0 !important
}

::-webkit-scrollbar {
    display: none;
}

.msg_card_body {
    overflow: -moz-scrollbars-none;
}

.msg_card_body {
    -ms-overflow-style: none;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;

}

.userIcon {
    color: khaki;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}

.user_info span {
    /* font-size: 20px; */
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    /* margin-left: 50px;
    margin-top: 5px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 1rem;
}

.message_container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #82ccdd;
    padding: 5px 12px;
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.message_container_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #78e08f;
    padding: 5px 12px;
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.sentMessageTime {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 1rem;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    /* z-index: 1; */
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.showDropdown {
    display: block;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;

}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}


.notification {
    /* background-color: #555; */
    color: white;
    text-decoration: none;
    /* padding: 15px 26px; */
    position: relative;
    display: inline-block;
    /* border-radius: 2px; */
}

.notification:hover {
    background: red;
}

.notificationBadge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: auto;
    border-radius: 50%;
    background: red;
    color: white;
}





@media(max-width:600px) {

    body {
        width: auto;
    }

    .contacts_card {
        margin-bottom: 5px !important;
        height: auto !important;
        display: none;
    }

    .user_info {
        margin-top: auto;
        margin-bottom: auto;
        /* margin-left: 8px; */
    }

    .user_img {
        height: 50px;
        width: 50px;
        border: 1.5px solid #f5f6fa;

    }

    #action_menu_btn {
        position: absolute;
        right: 1.8rem;
        top: 10px;
        color: white;
        cursor: pointer;
        font-size: 20px;
    }

    .notification {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
    }

    .notification:hover {
        background: red;
    }

    .notificationBadge {
        position: absolute;
        top: -5px;
        right: -5px;
        padding: auto;
        border-radius: 50%;
        background: red;
        color: white;
    }


    .online_icon {
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: #4cd137;
        border-radius: 50%;
        bottom: 1em;
        right: 0.4em;
        border: 1.5px solid white;
        visibility: hidden;
    }

    .fa-video {
        display: none;
    }

    .fa-phone {
        display: none;
    }
}