<div class="container">
  <form [formGroup] = "signUpForm">
    <input 
    type = "text" 
    placeholder="username"
    formControlName = "username">
    <input 
    type = "text" 
    placeholder="password" 
    formControlName = "password">
    <input 
    type = "text" 
    placeholder="phone" 
    formControlName = "phone">
    <input 
    type = "text" 
    placeholder="email" 
    formControlName = "email">
    <input 
    type = "text" 
    placeholder="academicLevel" 
    formControlName = "academicLevel">
  </form>
</div>